<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
     Shopping cart is empty. <%= link_to "Go back", root_path %>
  </p>
<% else %>
  <% @order_items.each do |oi| %>
    <%= render 'carts/cart_row', product: oi.product, order_item: oi, show_total: true %>
  <% end %>
<% end %>
